<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <style>
        /* reset */
        body {
            margin: 0;
            padding: 0%;
            background-color: #111;
            color: white;
        }
        /* setup */
        body {
            display: flex;
            flex-direction: column;
        }
        
    </style>
</head>
<body>
    <div class="div-center">
        <h1>Your verification code is arrived</h1>
        <p>return your sign sequence, and enter your verification code</p>
        <hr>
        <h2>{{ verification_code }}</h2>
        <hr>
        <p>this email was sent from <a href="https://varzeny.com">varzeny.com</a></p>
        
    </div>

    <script>

    </script>
</body>
</html>