<!-- account-bar.html -->

<style>
    /* reset */
    body {
        margin: 0;
        padding: 0;
    }

    /* setup */
    body {

    }
    a { 
        text-decoration: none;
    }

    .widget-account {
        display: flex;
    }
    .widget-account a {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .a-varzeny {
        color: blueviolet;
    }
    .a-login {
        color: white;
    }
    .a-signup { color: white; }



    .push-right { margin-left: auto; }

</style>



<div class="widget-account">
    <a class="a-varzeny" href="/">V</a>

    <div class="push-right"></div>

    <a class="a-login" href="/common/page-login" target="_top">Login</a>
    <a class="a-sign" href="/">Sign</a>
</div>




<script>
    window.onload = function(){

    }
</script>