<!-- widget-account.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Widget Account</title>
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/css/widget_account.css'>

</head>
<body>
    <div class="widget-account">
        <a class="a-varzeny" href="/" target="_top">V</a>
        <div class="push-right"></div>
    
        {% if access_token["type"] != "guest" %}
        <a class="a-profile" href="" target="_top">My Page</a>
        <a class="a-logout" href="/common/logout?referer={{ referer }}" target="_top">LogOut</a>
    
        {% else %}
        <a class="a-login" href="/common/page-login?referer={{ referer }}" target="_top">Login</a>
        <a class="a-sign" href="/common/page-sign" target="_top">Sign</a>
        {% endif %}
    </div>
    

    <script>

    </script>
    
</body>
</html>